[Desktop Entry]
Name=Gnibbles
Name[pt_BR]=Gnibbles
Name[da]=Gnibbles
Name[de]=Gnibbles
Name[el]=Gnibbles
Name[es]=Gnibbles
Name[et]=Gnibbles
Name[fi]=Gnibbles
Name[fr]=Gnibbles
Name[gl]=Gnibbles
Name[ja]=G¥Ë¥Ö¥ë
Name[ko]=Gnibbles
Name[lt]=Gnibbles
Name[no]=Gnibbles
Name[pt]=Gnibbles
Name[ru]=çÎÉÂÂÌÅÓ
Name[sk]=Gnibbles
Name[sv]=Gnibbles
Comment=Gnome Nibbles Game
Comment[pt_BR]=Jogo Nibbles Gnome
Comment[da]=Gnome Nibbles spil
Comment[de]=Nibbles für Gnome
Comment[el]=Ôï ğáé÷íßäé Nibbles ãéá ôï GNOME
Comment[es]=Juego de orugas de Gnome
Comment[et]=Ussimäng GNOMEle
Comment[fi]=Gnome-matopeli
Comment[fr]=Jeu de chenilles de Gnome
Comment[gl]=Xogo Nibbles de Gnome
Comment[ja]=GNOMEÈÇ¡Ö¥Ø¥Ó¡×¥²¡¼¥à
Comment[ko]=Gnome Nibbles Game
Comment[lt]=Gnome gyvatëliø şaidimas
Comment[no]=Gnome Nibbles spill
Comment[pt]=Gnome Nibbles Game
Comment[ru]=éÇÒÁ Gnome îÉÂÂÌÅÓ(ÚÍÅÑ)
Comment[sk]=Hra Nibbles pre GNOME
Comment[sv]=Nibbles-spel för Gnome
Exec=gnibbles
Icon=gnome-nibbles.png
Terminal=0
Type=Application
Icon=gnome-nibbles.png
