[Desktop Entry]
Name=Gnibbles
Name[de]=Gnibbles
Name[es]=Gnibbles
Name[fi]=Gnibbles
Name[fr]=Gnibbles
Name[ko]=Gnibbles
Name[no]=Gnibbles
Name[pt]=Gnibbles
Name[ru]=Гнибблес
Comment=Gnome Nibbles Game
Comment[de]=Gnome Nibbles Game
Comment[es]=Gnome Nibbles Game
Comment[fi]=Gnome-matopeli
Comment[fr]=Gnome Nibbles Game
Comment[ko]=Gnome Nibbles Game
Comment[no]=Gnome Nibbles Game
Comment[pt]=Gnome Nibbles Game
Comment[ru]=Игра Gnome Нибблес(змея)
Exec=gnibbles
Terminal=0
Type=Application
