[Desktop Entry]
Name=Gnibbles
Name[da]=Gnibbles
Name[de]=Gnibbles
Name[es]=Gnibbles
Name[et]=Gnibbles
Name[fi]=Gnibbles
Name[fr]=Gnibbles
Name[gl]=Gnibbles
Name[ja]=G•À•÷•Î
Name[ko]=Gnibbles
Name[no]=Gnibbles
Name[pt]=Gnibbles
Name[ru]=ÁŒ…¬¬Ã≈”
Name[sv]=Gnibbles
Comment=Gnome Nibbles Game
Comment[da]=Gnome Nibbles spil
Comment[de]=Nibbles f¸r Gnome
Comment[es]=Juego de orugas de Gnome
Comment[et]=Ussim‰ng GNOMEle
Comment[fi]=Gnome-matopeli
Comment[fr]=Jeu de chenilles de Gnome
Comment[gl]=Xogo Nibbles de Gnome
Comment[ja]=GNOME»«°÷•ÿ•”°◊•≤°º•‡
Comment[ko]=Gnome Nibbles Game
Comment[no]=Gnome Nibbles spill
Comment[pt]=Gnome Nibbles Game
Comment[ru]=È«“¡ Gnome Ó…¬¬Ã≈”(⁄Õ≈—)
Comment[sv]=Gnome nibbles-spel
Exec=gnibbles
Icon=gnome-nibbles.png
Terminal=0
Type=Application
Icon=gnome-nibbles.png
