/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*/*.omf.out
/*/.xml2po.mo
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/C/gnibbles.xml
/C/legal.xml
/C/network-games.xml
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/ca/ca.po
/ca/gnibbles.xml
/cs/cs.po
/cs/gnibbles.xml
/de/de.po
/de/gnibbles.xml
/el/el.po
/el/gnibbles.xml
/en_GB/en_GB.po
/en_GB/gnibbles.xml
/es/es.po
/es/gnibbles.xml
/eu/eu.po
/eu/gnibbles.xml
/fr/fr.po
/fr/gnibbles.xml
/gnibbles-C.omf
/gnibbles-ca.omf
/gnibbles-cs.omf
/gnibbles-de.omf
/gnibbles-el.omf
/gnibbles-en_GB.omf
/gnibbles-es.omf
/gnibbles-eu.omf
/gnibbles-fr.omf
/gnibbles-it.omf
/gnibbles-oc.omf
/gnibbles-sv.omf
/it/gnibbles.xml
/it/it.po
/oc/gnibbles.xml
/oc/oc.po
/so_locations
/sv/gnibbles.xml
/sv/sv.po
/tags
