GtkApplicationWindow.main-window {
    background: rgba (0, 0, 0, 1);
}
.menu-title {
  font-size: 2.5em;
  font-family: Cantarell;
}
.tip {
  font-size: 1em;
}
.play {
  font-size: 1em;
}
GtkToggleButton.number-box {
    font-size: 3em;
    font-family: Sans;
    font-weight: bold;
}
GtkLabel.countdown {
    font-size: 2em;
    color: rgba(229, 229, 229, 1);
}
