GtkApplicationWindow.main-window {
    background: rgba (0, 0, 0, 1);
}
.menu-title {
  font-size: 3em;
}
.tip {
  font-size: 1em;
}
.play {
  font-size: 1em;
}
GtkToggleButton.number-box {
    font-size: 5em;
    color: rgba(229, 229, 229, 1);
}
GtkLabel.countdown {
    font-size: 2em;
    color: rgba(229, 229, 229, 1);
}
